<!DOCTYPE html>
<html>
	<head>
		<title>Theme</title>
		<meta charset="utf-8">
		<link type="text/css" rel="stylesheet" href="/home_work1/css/style.css"/>
	</head>
	<body>

		<div class="container">

			<div class="header_wrapper">
				<div class="logo_wrapper">
					<a class="logo_link" href="#" title="Theme">
						<img class="logo_img" src="/home_work1/img/logo.png" alt="logo_theme" />
					</a>
				</div>
				<div class="nav_wrapper">
					<ul class="nav_list">
						<li class="nav_item"><a class="nav_link" href="#" title="home" >Home</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="Free Downloads" >Free Downloads</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="About" >About</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="Blog" >Blog</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="Licening" >Licening</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="Contact" >Contact</a></li>
					</ul>
					<span class="nav_line"><img src="/home_work1/img/line.png" alt="" class="nav_line_img"></span>
				</div>
				<div class="social_wrapper">
					<ul class="social_list">
						<li class="social_item">
							<a class="social_link" href="#" title="twitter">
								<img class="social_icon" src="/home_work1/img/social_twitter.png" alt="twitter_icon"/>
							</a>
						</li>
						<li class="social_item">
							<a class="social_link" href="#" title="rss">
								<img class="social_icon" src="/home_work1/img/social_rss.png" alt="rss_icon"/>
							</a>
						</li>
						<li class="social_item">
							<a class="social_link" href="#" title="mail">
								<img class="social_icon" src="/home_work1/img/social_mail.png" alt="mail_icon"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="slider_wrapper">	
				<ul class="slider_list">
					<li class="slider_item first">
						<h3 class="slider_title">BlazRobar</h3>
						<p class="slider_text">Approves this message</p>
					</li>
				</ul>
				<ul class="tabs_list" type="disc">
					<li class="tabs_item">
						<a class="tabs_link" href="#" title="first">
                            <img class="tabs_img" src="/home_work1/img/dots.png" alt="">
                        </a>
					</li>
					<li class="tabs_item">
						<a class="tabs_link" href="#" title="second">
                            <img class="tabs_img" src="/home_work1/img/dots.png" alt="">
                        </a>
					</li>
					<li class="tabs_item">
						<a class="tabs_link" href="#" title="third">
                            <img class="tabs_img" src="/home_work1/img/dots_active.png" alt="">
                        </a>
					</li>
				</ul>
			</div>

			<div class="latest_downloads">
				<h4 class="downloads_title">Latest Downloads</h4>
				<div class="download_wrapper">
					<ul class="download_list" type="none">
						<li class="download_item">
                            <a href="#" class="download_link" title="PSD Ribbon Set">
                                <img class="download_img" src="/home_work1/img/download.png" alt="PSD Ribbon Set">
                            </a>
                            <h3 class="download_name">PSD Ribbon Set</h3>
                        </li>
                        <li class="download_item">
                            <a href="#" class="download_link" title="PSD Ribbon Set">
                                <img class="download_img" src="/home_work1/img/download.png" alt="PSD Ribbon Set">
                            </a>
                            <h3 class="download_name">PSD Ribbon Set</h3>
                        </li>
                        <li class="download_item last_download">
                            <a href="#" class="download_link" title="PSD Ribbon Set">
                                <img class="download_img" src="/home_work1/img/download.png" alt="PSD Ribbon Set">
                            </a>
                            <h3 class="download_name">PSD Ribbon Set</h3>
                        </li>
                        <li class="download_item">
                            <a href="#" class="download_link" title="PSD Ribbon Set">
                                <img class="download_img" src="/home_work1/img/download.png" alt="PSD Ribbon Set">
                            </a>
                            <h3 class="download_name">PSD Ribbon Set</h3>
                        </li>
                        <li class="download_item">
                            <a href="#" class="download_link" title="PSD Ribbon Set">
                                <img class="download_img" src="/home_work1/img/download.png" alt="PSD Ribbon Set">
                            </a>
                            <h3 class="download_name">PSD Ribbon Set</h3>
                        </li>
                        <li class="download_item last_download">
                            <a href="#" class="download_link" title="PSD Ribbon Set">
                                <img class="download_img" src="/home_work1/img/download.png" alt="PSD Ribbon Set">
                            </a>
                            <h3 class="download_name">PSD Ribbon Set</h3>
                        </li>
					</ul>				
				</div>
			</div>			

		<div class="footer">
			<div class="footer_find footer_block">
				<h6 class="footer_title">Find Something</h6>
				<p class="footer_content">
					All files on this website are Free. Download and use these files for your commercial or personal projects.
				</p>
				<form class="footer_search_form" method="GET" action="#">
					<input class="input_search" type="text" value="Looking for Something?" name="search"/>
					<input class="button_search" type="submit" value="GO" name="button"/>
				</form>
			</div>
			<div class="footer_about footer_block">
				<h6 class="footer_title">About Your Business Here</h6>
				<p class="footer_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>				
			</div>
			<div class="footer_search footer_block">
				<h6 class="footer_title">Search by</h6>
				<ul class="footer_search_list">
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Icons">Icon</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Add detail to your">Add detail to your</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Buttons">Buttons</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Call To Action">Call To Action</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Clean">Clean</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Clean and smile">Clean and smile</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Image Slider">Image Slider</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Clean Tabel Design">Clean Tabel Design</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="CSS PSD">CSS PSD</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Icons">Icon</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Add detail to your">Add detail to your</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Buttons">Buttons</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Call To Action">Call To Action</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Clean">Clean</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Clean and smile">Clean and smile</a>
					</li>
					<li class="footer_search_item">
						<a class="footer_search_link" href="" title="Image Slider">Image Slider</a>
					</li>
                    <li class="footer_search_item">
						<a class="footer_search_link" href="" title="Image Slider">Image Slider</a>
					</li>
				</ul>
			</div>
		</div>	
		
	</div>

	</body>
</html>
