<!DOCTYPE html>
<html>
<head>
	<title>La Shoopa</title>
	<meta charset="UTF-8">
	<meta name="description" content="description">
	<meta name="author" content="Anastasia">
	<link rel="stylesheet" type="text/css" href="/home_work3/css/style.css"/>
</head>
<body>
	<div class="container">
		<!--HEADER-->
		<div class="header">
			<div class="shape">
				<div class="shape_list_wrapper">
					<ul class="shape_list">
						<li class="shape_item">
							<a href="" class="shape_link">
								<img src="/home_work3/img/shape.png" alt="" class="shape_img">
							</a>
						</li>
						<li class="shape_item">
							<a href="" class="shape_link">
								<img src="/home_work3/img/shape.png" alt="" class="shape_img">
							</a>
						</li>
						<li class="shape_item">
							<a href="" class="shape_link">
								<img src="/home_work3/img/shape.png" alt="" class="shape_img">
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="header_content_wrapper">
				<div class="logo">
					<a href="#" title="La Shoopa">
						<img src="/home_work3/img/logo.png" alt="" class="logo_img">
					</a>
				</div>
				<div class="separator"><span class="separator_line"></span></div>
				<div class="nav">
					<ul class="nav_list">
						<li class="nav_item"><a class="nav_link" href="#" title="Men">Men</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="Women">Women</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="About">About</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="Blog">Blog</a></li>
						<li class="nav_item"><a class="nav_link" href="#" title="Support">Support</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--BANNER-->
		<div class="banner">
			<div class="banner_content">
				<h2 class="banner_title">New Season arrivals</h2>
				<p class="banner_text">Check out all the new trends</p>
				<div class="banner_button"><a class="banner_link" href="#" title="Shop now">Shop now</a></div>
			</div>
		</div>
		<!--LATEST PRODUCTS-->
		<div class="products">
			<img src="/home_work3/img/line_products.png" alt="" class="products_line">
			<h2 class="products_title">Latest products</h2>
			<ul type="none" class="products_list">
				<li class="products_item">
					<div class="products_img_wrapper">
						<img src="/home_work3/img/products.png" alt="clothes" class="products_img">
					</div>
					<h3 class="products_name">
						<a href="" class="products_link">Sunt Officia sed deserunt.</a>
					</h3>
					<b class="products_price">$150<sup>.00</sup></b>
				</li>
				<li class="products_item">
					<div class="products_img_wrapper">
						<img src="/home_work3/img/products.png" alt="clothes" class="products_img">
					</div>
					<span class="discount">-50%</span>
					<h3 class="products_name">
						<a href="" class="products_link">Duis aute irure dolor.</a>
					</h3>
					<b class="products_price">$650<sup>.00</sup></b>
				</li>
				<li class="products_item">
					<div class="products_img_wrapper">
						<img src="/home_work3/img/products.png" alt="clothes" class="products_img">
					</div>
					<h3 class="products_name">
						<a href="" class="products_link">Consectetur eiusmod elit.</a>
					</h3>
					<b class="products_price">$100<sup>.00</sup></b>
				</li>
			</ul>
		</div>
		<!--POPULAR PRODUCTS-->
		<div class="products">
			<img src="/home_work3/img/line_products.png" alt="" class="products_line">
			<h2 class="products_title">Popular products</h2>
			<ul type="none" class="products_list">
				<li class="products_item">
					<div class="products_img_wrapper">
						<img src="/home_work3/img/products.png" alt="clothes" class="products_img">
					</div>
					<span class="discount">-86%</span>
					<h3 class="products_name">
						<a href="" class="products_link">Dolore eu nulla pariatur.</a>
					</h3>
					<b class="products_price">$120<sup>.00</sup></b>
				</li>
				<li class="products_item">
					<div class="products_img_wrapper">
						<img src="/home_work3/img/products.png" alt="clothes" class="products_img">
					</div>
					<h3 class="products_name">
						<a href="" class="products_link">Enim ad minim veniam.</a>
					</h3>
					<b class="products_price">$1000<sup>.00</sup></b>
				</li>
				<li class="products_item">
					<div class="products_img_wrapper">
						<img src="/home_work3/img/products.png" alt="clothes" class="products_img">
					</div>
					<h3 class="products_name">
						<a href="" class="products_link">Excepteur sint cupidatat.</a>
					</h3>
					<b class="products_price">$340<sup>.00</sup></b>
				</li>
			</ul>
		</div>
		<!--BRANDS-->
		<div class="brands">
			<ul class="brands_list" type="none">
				<li class="brands_item">
					<h3 class="brands_title">
						<a href="#" title="" class="brands_link">Brands</a>
					</h3>
					<p class="brands_gender">Men/Women</p>
				</li>
				<li class="brands_item">
					<h3 class="brands_title">
						<a href="#" title="" class="brands_link">Brands</a>
					</h3>
					<p class="brands_gender">Men/Women</p>
				</li>
				<li class="brands_item">
					<h3 class="brands_title">
						<a href="#" title="" class="brands_link">Brands</a>
					</h3>
					<p class="brands_gender">Men/Women</p>
				</li>
				<li class="brands_item">
					<h3 class="brands_title">
						<a href="#" title="" class="brands_link">Brands</a>
					</h3>
					<p class="brands_gender">Men/Women</p>
				</li>
				<li class="brands_item last_brands">
					<h3 class="brands_title">
						<a href="#" title="" class="brands_link">Brands</a>
					</h3>
					<p class="brands_gender">Men/Women</p>
				</li>
			</ul>
		</div>
		<!--FOOTER-->
		<div class="footer">
			<div class="info">
				<div class="contacts">
					<h3 class="info_title">Our Stores</h3>
					<div class="contacts_stores">
						<ul class="contacts_list">
							<li class="contacts_item">1401 South Grand Avenue</li>
							<li class="contacts_item">Los Aangeles, CA 90015</li>
							<li class="contacts_item">
								<b class="contacts_number">(213) 748-2411</b>
							</li>
						</ul>
					</div>
				<div class="contacts_stores">
					<ul class="contacts_list">
						<li class="contacts_item">100 Fairview Drive</li>
						<li class="contacts_item">Franklin, VA 23851</li>
						<li class="contacts_item">
							<b class="contacts_number">(757) 569-6100-2411</b>
						</li>
					</ul>
				</div>
				<ul class="social_list">
					<li class="social_item">
						<a class="social_link" href="#" title="facebook"><img class="social_icon"  src="/home_work3/img/f.png" alt="facebook"></a>
					</li>
					<li class="social_item">
						<a class="social_link" href="#" title="twitter"><img class="social_icon" src="/home_work3/img/t.png" alt="twitter"></a>
					</li>
					<li class="social_item">
						<a class="social_link" href="#" title="google+"><img class="social_icon" src="/home_work3/img/g.png" alt="google+"></a>
					</li>
					<li class="social_item">
						<a class="social_link" href="#" title="vimeo"><img class="social_icon" src="/home_work3/img/v.png" alt="vimeo"></a>
					</li>
					<li class="social_item">
						<a class="social_link" href="#" title="RSS"><img class="social_icon" src="/home_work3/img/r.png" alt="RSS"></a>
					</li>
				</ul>
				</div>
				<div class="blog_posts">
					<h3 class="info_title">Blog Posts</h3>
					<div class="posts">
						<h4 class="posts_title">
							<a href="" class="posts_title_link">Duis aute irure dolor in reprehenderit.</a>
						</h4>
						<p class="posts_text">in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
					<div class="posts">
						<h4 class="posts_title">
							<a href="" class="posts_title_link">Ut enim ad minim veniam.</a>
						</h4>
						<p class="posts_text">in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
					<div class="posts">
						<h4 class="posts_title">
							<a href="" class="posts_title_link">officia deserunt mollit anim id est laborum.</a>
						</h4>
						<p class="posts_text">in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					</div>
				</div>
				<div class="support">
					<h3 class="info_title">Support</h3>
					<ul class="support_list" type="none">
						<li class="support_item">
							<a href="" class="support_link">Terms&Conditions</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">FAQ</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Payment</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Refunds</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Track Order</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Services</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Services</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Press</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Blog</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Adout Us</a>
						</li>
						<li class="support_item">
							<a href="" class="support_link">Contact Us</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="copyrights">
				<div class="credits">
					<p class="credits_item">© 2014 lashoopa.com - All Rights Reserved - Find More Free Templates at <a class="credits_ref" target="_blank" href="http://www.pixelhint.com" title="pixelhint.com">Pixelhint.com</a></p>
				</div>
				<div class="payment">
					<ul class="payment_list" type="none">
						<li class="payment_item"><img src="/home_work3/img/Visa.png" alt="visa"></li>
						<li class="payment_item"><img src="/home_work3/img/Mastercard.png" alt="mastercard"></li>
						<li class="payment_item"><img src="/home_work3/img/American%20Express.png" alt="american express"></li>
						<li class="payment_item"><img src="/home_work3/img/Discover.png" alt="discover"></li>
					</ul>
				</div>
			</div>
		</div>

	</div>	
</body>
</html>